@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

:root{
  --primary-color: #66ff33;
  --secondary-color: #e60073;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  border: none;
} 

html,body{
  min-height: 100%;
}

body{
  font-family: 'Roboto', 'sans-serif';
  background-color: #FFFFE0;
}

.container{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

/*HEADER*/
header, footer{
  background-color: black;
  color: white;

  width: 100%;
  padding: 32px 0;

  text-align: center;
}

header div.container{
  display: grid;
  grid-template-columns: 220px auto 280px;
  align-items:center;
  grid-gap: 24px;
}

header div.container a{
  justify-self: start;
}

/*LOGO*/

.logo h1{
  color: white;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
}

.logo h2{
  color:var(--primary-color) ;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}


/*HEADER SERACH*/
.search input{
  width: 100%;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 16px;
}

/*PRIMARY MENU*/

nav.primary ul{
  display: flex;
  justify-content: space-between;
}

nav.primary ul li a{
  display: flex;
  align-items: center;
  color: white;
}
nav.primary ul li a:hover{
  color: var(--primary-color);

  transition: 300ms;
}

nav.primary ul li a i{
  margin-right: 8px;
}


 
 